<div class="image-slider p-5">
  <section class="pt-5 pb-5 mx-5">
    <div class="">
      <div class="top d-flex pt-3 px-3">
        <div class="col-6">
          <h2 class="mb-3">PRODUCT SUGGESTIONS</h2>
        </div>
        <div
          class="col-6 text-right d-flex justify-content-end align-items-center"
        >
          <a
            class="btn btn-primary mb-3 mr-1 mx-3"
            href="#carouselExampleIndicators2"
            role="button"
            data-bs-slide="prev"
          >
            <i class="fa-solid fa-arrow-left"></i>
          </a>
          <a
            class="btn btn-primary mb-3"
            href="#carouselExampleIndicators2"
            role="button"
            data-bs-slide="next"
          >
            <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
      </div>

      <div class="p-3 bot">
        <div
          id="carouselExampleIndicators2"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <% for (let i = 0; i < flagsToShow.length; i += 3) { %>
            <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
              <div class="row">
                <% for (let j = i; j < i + 3 && j < flagsToShow.length; j++) {
                %>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <a
                      href="/product/detail/<%= flagsToShow[j]._id %>"
                      class="flag-link"
                    >
                      <img
                        class="img-fluid"
                        alt="100%x280"
                        src="/flags/<%= flagsToShow[j].type %>/<%= flagsToShow[j].image %>"
                      />
                      <div class="card-body">
                        <div class="card-title fs-5 fw-bold">
                          <%= flagsToShow[j].name %>
                        </div>
                        <div class="card-text text-uppercase">
                          <div class="type"><%= flagsToShow[j].type %></div>
                          <div class="price text-danger fw-bold">
                            <%= flagsToShow[j].price %>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
